/*
*= require bootstrap/dist/css/bootstrap
*= require navbar-top-fixed
*= require font-awesome/css/font-awesome
*/

.form-control {
    width: 90%;
    font-size: 0.9rem;
    margin-top: 5px;
}

 /* Botão de pesquisar */
#bt1 {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 15px;
    width: 150px;
    height: 35px;
    text-align: center;
}

h3.panel-title div {
    display: inline;
}